<h1><%= @tenant.full_name %></h1>

<%= @tenant.email %>
<%= @tenant.phone %>
<% if @tenant.past_due %>
  <p>This tenant owes $<%= @tenant.outstanding_balance %></p>
<% end %>

<%= link_to @tenant.property.mailing_address, property_path(@tenant.property) %>

<%= button_to "Delete Tenant", tenant_path(@tenant), method: :delete %>
<button class="crud"><%= link_to "Edit Tenant", edit_property_tenant_path(@tenant.property) %></button>
<button class="evict"><%= link_to "Start Eviction", new_eviction_path %></button>