<h1><%= @tenant.first_name %> <%= @tenant.last_name %></h1>

<%= @tenant.email %>
<%= @tenant.phone %>
<%= @tenant.outstanding_balance %>
<%= @tenant.past_due %>
<%= @tenant.property_id %>

<%= button_to "Delete Tenant", tenant_path(@tenant), method: :delete %>
<button class="crud"><%= link_to "Edit Tenant", edit_tenant_path(@tenant) %></button>