<h1><%= @entity.legal_name %></h1>

<ul>
  <%= @entity.address %>
  <%= @entity.city %>
  <%= @entity.state %>
  <%= @entity.entity_type %>
  <%= @entity.phone %>
  <%= @entity.email %>
  <%= @entity.user_id %>
</ul>