<h1><%= @entity.legal_name %></h1>

<ul>
  <%= @entity.address %>
  <%= @entity.city %>
  <%= @entity.state %>
  <%= @entity.entity_type %>
  <%= @entity.phone %>
  <%= @entity.email %>
  <%= @entity.user_id %>
</ul>

<%= button_to "Delete Entity", entity_path(@entity), method: :delete %>
<button class="crud"><%= link_to "Edit Entity", edit_entity_path(@entity) %></button>
<button class="crud"><%= link_to "Add Property", new_property_path %></button>