<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>
Your tenants owe you $<%= @current_user.tenants.total_owed %>
<% if @current_user.tenants.delinquencies.any? %>
  <h3>Delinquencies:<span class="delinquent">  <%= @current_user.tenants.delinquencies.count %></span></h3>
  <% @current_user.tenants.delinquencies.each do |tenant| %>
    <ul>
      <li><%= link_to tenant.full_name, property_tenant_path(tenant.property_id, tenant) %> - <b>$<%= tenant.outstanding_balance %></b></li>
    </ul>
  <% end %>
<% end %>


<section class="container">
  <div class="prop_container">
    <div class="prop_header">
      <h3>Properties</h3>
      <button class="crud"><%= link_to "Add New Property", new_property_path %></button>
      <button><%= link_to "See Pending Evictions", evictions_path %></button>
    </div>
    <table>    
    
    <% @current_user.properties.each do |property| %>  
      <tr>
        <td class="row"><%= property.address %>, <%= property.city %>, <%= property.state %>, <%= property.zip %>
          <span class="buttons-row">
            
            <button class="crud"><%= link_to "Edit Property", edit_property_path(property) %></button>
            <button class="crud"><%= link_to "Property Details", property_path(property) %></button>
            <button class="crud"><%= link_to "Add New Tenant", new_property_tenant_path(property) %></button>
          </span>
        </td>
    <% end %>
      </tr>
    </table>
  </div>
