<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>

<%= @current_user.email %>



<table>    
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>County</th>
    <th>Rent</th>   
  </tr>
  <% @current_user.properties.each do |property| %> 
  <tr>
    <td><%= property.address %></td>
    <td><%= property.city %></td>
    <td><%= property.state %></td>
    <td><%= property.zip %></td>
    <td><%= property.county %></td>
    <td>$<%= property.rent %></td>
  <% end %>
  </tr>
</table>
